In [ ]:
'''
Objective:
The assignment focus on from the TLC Trip Record Data.
https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
============================================================================================
Download and explore the dataset structure.
Identify and clean missing or inconsistent data (e.g., passenger count anomalies, trip distances as zero, etc.).
Parse and convert date/time fields for analysis.
Implement a pipeline to:
Extract: Load data from files.
Transform: Clean data, standardize columns, and filter out irrelevant entries.
Load: Store processed data into a database or data warehouse.
Analyze average fares and trip distances by location and time.
Identify high-demand areas and times for taxis and FHVs.
Visualize pick-up and drop-off patterns using geospatial analysis.
Determine the most common trip routes.
Calculate average trip durations and waiting times.
Identify payment type trends (cash, card, etc.).
Integrate external datasets (e.g., NYC weather data) to examine the impact on trip volume and fares.
Optimize database queries for large datasets.

'''

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/taxi_zone_lookup.csv')

df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [4]:
df.isna().sum()

LocationID      0
Borough         1
Zone            1
service_zone    2
dtype: int64