In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:

spark = SparkSession.builder \
    .appName("Spark Streaming") \
    .getOrCreate()

25/07/12 15:27:54 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
!pwd

/home/diea/Documents/JN_WorkSpace/Spark/Spark/Day6/Lab-6

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [4]:
df_sample = spark.read.csv("./walmart/walmart_stock.csv", header=True, inferSchema=True)
df_sample.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [5]:
schema = df_sample.schema

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [6]:
stream_df = spark.readStream.format("csv") \
    .option("header", True) \
    .schema(schema) \
    .load("./walmart")

### Make sure the dataframe is streaming the files from the folder

In [7]:
print(stream_df.isStreaming)

True

### Create a stream writer into memory and specify the query name "stock:

In [8]:
writeStream_memory = stream_df.writeStream \
    .format("memory") \
    .queryName("stock") \
    .option("checkpointLocation", "./checkpoints/stock") \
    .outputMode("append") \

### Start the write stream and make sure it works (read all columns from the table)

In [9]:
writeStream_memory.start()

25/07/12 15:28:12 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [10]:
spark.sql("SELECT * FROM stock").show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [11]:
clean_df = stream_df.na.drop(how="all").withColumn("diff", col("High") - col("Low"))

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [12]:
writeStream_clean_memory = clean_df.writeStream \
    .format("memory") \
    .queryName("modified_data") \
    .option("checkpointLocation", "./checkpoints/modified_data") \
    .outputMode("append") \

In [13]:
writeStream_clean_memory.start()

25/07/12 15:28:24 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [14]:
spark.sql("SELECT * FROM modified_data").show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|               diff|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996| 1.1900019999999998|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475| 0.8799969999999959|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|               1.25|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922| 0.5800020000000004|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|           0.630001|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109| 0.7299989999999994|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|0.48999799999999283|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 0.5999979999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996| 0.6000030000000081|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581| 0.5900010000000009|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131| 0.3799969999999959|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447| 0.9799999999999969|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 0.5800020000000004|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104| 0.4700020000000009|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|               1.25|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001| 0.5700000000000003|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436| 1.0700000000000003|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665| 0.5799979999999962|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994| 0.9700020000000009|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006| 0.9899979999999999|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
only showing top 20 rows

### Write the generated data into files instead of the memory.

In [15]:

writeStream_clean_csv = clean_df.writeStream \
    .format("csv") \
    .option("path", "./walmart_write")\
    .option("checkpointLocation", "./checkpoints/walmart_write/checkpoint") \
    .outputMode("append") \
    .start()

25/07/12 15:28:31 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

### Stop the query. Now, try reading the generated files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [16]:
writeStream_clean_csv.stop()

25/07/12 15:28:36 WARN DAGScheduler: Failed to cancel job group 1008aecf-15b9-48a8-81c7-4ff7b02ae3cb. Cannot find active jobs for it.
25/07/12 15:28:36 WARN DAGScheduler: Failed to cancel job group 1008aecf-15b9-48a8-81c7-4ff7b02ae3cb. Cannot find active jobs for it.

In [17]:
final_schema = schema.add("diff", DoubleType())

final_df = spark.read.format("csv") \
    .schema(final_schema) \
    .load("./walmart_write")
final_df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|               diff|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996| 1.1900019999999998|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475| 0.8799969999999959|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|               1.25|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922| 0.5800020000000004|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|           0.630001|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109| 0.7299989999999994|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|0.48999799999999283|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 0.5999979999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996| 0.6000030000000081|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581| 0.5900010000000009|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131| 0.3799969999999959|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447| 0.9799999999999969|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 0.5800020000000004|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104| 0.4700020000000009|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|               1.25|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001| 0.5700000000000003|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436| 1.0700000000000003|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665| 0.5799979999999962|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994| 0.9700020000000009|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006| 0.9899979999999999|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
only showing top 20 rows

### Sort the dataframe based on the Date

In [18]:
final_df.orderBy("Date").show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|               diff|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996| 1.1900019999999998|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475| 0.8799969999999959|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|               1.25|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922| 0.5800020000000004|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|           0.630001|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109| 0.7299989999999994|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|0.48999799999999283|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 0.5999979999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996| 0.6000030000000081|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581| 0.5900010000000009|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131| 0.3799969999999959|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447| 0.9799999999999969|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996| 0.5800020000000004|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104| 0.4700020000000009|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|               1.25|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001| 0.5700000000000003|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436| 1.0700000000000003|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665| 0.5799979999999962|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994| 0.9700020000000009|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006| 0.9899979999999999|
+----------+------------------+------------------+------------------+------------------+--------+------------------+-------------------+
only showing top 20 rows